{% extends 'base.html' %}
{% load static %}
{% block title %}My Polls
{% endblock title %}
{% block content %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href=""><i class="fas fa-poll" style="font-size:150%;"></i></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" style="margin-right:30px;font-size: 150%; font-weight: bold;">
                <a class="nav-link " href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item " style="margin-right:30px;font-size: 150%; font-weight: bold;">
                <a class="nav-link active" href="{% url 'polls:list' %}">Polls</a>
            </li>
        </ul>
        <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <a class="nav-link " style="margin-right:30px;font-size: 150%; font-weight: bold;" href="{% url 'polls:list_by_user' %}">My Polls</a>
            <a class="nav-link" style="margin-right:30px;font-size: 150%; font-weight: bold;" href="{% url 'accounts:logout' %}">Logout</a>
            {% else %}
            <a class="nav-link" style="margin-right:30px;font-size: 150%; font-weight: bold;" href="{% url 'accounts:login' %}">Login</a>
            <a class="nav-link" style="margin-right:30px;font-size: 150%; font-weight: bold;" href="{% url 'accounts:register' %}">Signup</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-sm-2">
            <h1 class="text-center mt-3 mb-3">Welcome to polls List!</h1>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}

            <a class="btn btn-{% if 'name' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?name=True"
                role="button"><i class="fas fa-sort-alpha-down"></i>
                Name</a>
            <a class="btn btn-{% if 'date' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?date=True"
                role="button"><i class="far fa-clock"></i> Latest Polls</a>
            <a class="btn btn-{% if 'vote' in request.GET %}warning{% else %}primary{% endif %} mb-3" href="?vote=True"
                role="button"><i class="fas fa-poll"></i> Vote</a>

            <a class="btn btn-primary mb-3 float-right" href="{% url 'polls:add' %}" role="button">Add <i class="fas fa-plus"></i></a>

            <form class="form-inline">
                <div class="form-group mr-sm-2 mb-2">
                    <input type="search" class="form-control" name="search" placeholder="Search" value={{ search_term }}>
                </div>
                <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-search"></i></button>
            </form>

            
            <ul class="list-group " style="box-shadow: 0 12px 16px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.10);">
                {% for poll in polls %}
                <li class="list-group-item mypolls" style="">
                {% if poll.active %}
                    <div>
                        <i class="fas fa-circle ml-2" style="color:red;">Ongoing Poll</i>
                    </div>
                    {% endif %}
                {% if request.user == poll.owner %}
                    {% if poll.active %}
                    <a href="{% url 'polls:end_poll' poll.id %}" data-toggle="tooltip" data-placement="top" title="End Poll"
                        onclick="return confirm('Are you sure ?')"><i class="fas fa-step-forward float-right btn btn-danger btn-sm"></i></a>
                    {% endif %}
                    <a href="{% url 'polls:edit' poll.id %}" class="mr-3" data-toggle="tooltip" data-placement="top"
                        title="Edit Poll"><i class="fas fa-pencil-alt float-right btn btn-primary btn-sm mr-1"></i></a>
                    {% endif %}
                <a style="text-decoration:none;"href="{% url 'polls:detail' poll.id %}">
                <img class="pollimglist"style="" src="{% url 'polls:poll_picture' poll.id %}"/>
                <div class="polltext" style="">{{ poll.text|truncatewords:5 }}</div>
                        {% if not poll.active%}
                        <div>
                        <i class="fas fa-check-circle ml-2">Poll Finished</i></div>
                        {% endif %}
                    </a>
                    
                </li>

                {% endfor %}
            </ul>
            <nav class="mt-3">
                <ul class="pagination">
                    {% if polls.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1&{{ params }}">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ polls.previous_page_number }}&{{ params }}">Previous</a></li>
                    {% endif %}

                    <li class="page-item active"><a class="page-link" href="">{{ polls.number }}</a></li>

                    {% if polls.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ polls.next_page_number }}&{{ params }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ polls.paginator.num_pages }}&{{ params }}">Last</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

{% endblock content %}